body {
    background-color: #111111;
}
.table-dark {
    --bs-table-bg: #222 !important;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #72b4e0;
}
a:hover {
    color: #277edb;
}

.custom-color-999999-placeholder::placeholder {
    color: #999999;
}

.hover-zoom:hover {
    transition: transform 0.2s;
    transform: scale(1.5);
}

.bg-rctf{
    background-color: #222;
}
